version: "3.9"

services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: prod_db
      POSTGRES_USER: prod_user
      POSTGRES_PASSWORD: strongpassword

  app:
    build: ./backend
    volumes:
      - static-data:/vol/web
    environment:
      DB_HOST: db
      DB_NAME: prod_db
      DB_USER: prod_user
      DB_PASS: strongpassword
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    command: npm run dev

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static-data:/vol/web
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - app

volumes:
  postgres-data:
  static-data: